<!--<div class="card my-5">-->
<!--  <div class="card-body">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Register</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <form class="example-form">-->
<!--      <div class="form-group" >-->
<!--        <label for="firstName">First name</label >-->
<!--        <input type="text"               class="form-control"-->
<!--               id="firstName"-->
<!--               placeholder="First name "-->
<!--                name="firstName" [(ngModel)] = 'data.firstName'-->
<!--               #firstName="ngModel" required>-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="surname">Surname</label>-->
<!--        <input type="text"               class="form-control"-->
<!--               id="surname"-->
<!--               placeholder="Surname"-->
<!--               name="lastName" [(ngModel)] = 'data.lastName'-->
<!--               #lastName="ngModel" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="number">Age</label>-->
<!--        <input type="number"               class="form-control"-->
<!--               id="number"-->
<!--               placeholder="number"-->
<!--               name="age" [(ngModel)] = 'data.age'-->
<!--               #age="ngModel" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email</label>-->
<!--        <input type="email"               class="form-control"-->
<!--               id="email"-->
<!--               placeholder="Email"-->
<!--               name="email" [(ngModel)] = 'data.email'-->
<!--               #email="ngModel" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="userName">User name</label>-->
<!--        <input type="text"               class="form-control"-->
<!--               id="userName"-->
<!--               placeholder="User Name"-->
<!--               name="userName" [(ngModel)] = 'data.userName'-->
<!--               #userName="ngModel" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password"-->
<!--               class="form-control"-->
<!--               id="password"-->
<!--               placeholder="Password"-->
<!--               name="password" [(ngModel)] = 'data.password'-->
<!--               #password="ngModel" required>-->
<!--        <div>-->
<!--          <br>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-info" (click)="onNoClick(data)">Register</button>-->
<!--&lt;!&ndash;                [disabled]="!registerUserForm.form.valid"&ndash;&gt;-->

<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<h1>Register</h1>
<div class="example-container">
  <form class="example-container" [formGroup]="this.registerForm" (ngSubmit)="onNoClick()" novalidate>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input type="text" matInput formControlName="firstName"
             placeholder="Name">
      <mat-error *ngIf="
      registerForm.get('firstName')!.hasError('required')" >
        First name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastName"
             placeholder="Name">
      <mat-error *ngIf="
      registerForm.get('lastName')!.hasError('required')" >
        Last name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input type="number" matInput formControlName="age"
             placeholder="Ex. 22">
      <mat-error *ngIf="
      registerForm.get('age')!.hasError('required')" >
        Age is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
      placeholder="Ex. mail@gmail.com">
      <mat-error *ngIf="
      registerForm.get('email')!.hasError('email') &&!registerForm.get('email')!.hasError('required')" >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="
      registerForm.get('email')!.hasError('required')" >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input type="text" matInput formControlName="userName"
             placeholder="Name">
      <mat-error *ngIf="
      registerForm.get('userName')!.hasError('required')" >
        User name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-error *ngIf="
      registerForm.get('password')!.hasError('required')" >
        Password is <strong>required</strong>
      </mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
      <br>
    <h5>If you want to exist register window, press outside dialog.</h5>
    <button [disabled]="!registerForm.valid" (click)="onNoClick()" mat-flat-button color="primary">Register </button>
<!--    <button (click)="onClose()" mat-flat-button color="primary">Close</button>-->
  </form>
</div>
