<ng-container *ngIf="carts; else none">
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
      <button class='btn btn-outline-secondary'
              style='width:135px'
              (click)='createOrder()'>
        <i class='fa fa-chevron-left'></i> Create Order
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>Pavadinimas</th>
            <th>Kiekis</th>
            <th>Kaina</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let cart of carts">
            <td>{{cart.product.title}}</td>
            <td></td>
            <td>
              <div class="quantity">
                <button class="btn minus1" (click)="substract(cart.id)">-</button>
                <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="{{ cart.quantity }}" type="number">
                <button class="btn add1" (click)="add()">+</button>
              </div>
            </td>
            <td>{{cart.product.price}}</td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td>Viso:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #none>
  <div>There is no products in the cart</div>
</ng-template>

