<!--<ng-container *ngIf="carts; else none">-->
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" *ngIf="carts.length">
          <thead>
          <tr>
            <th></th>
            <th>Pavadinimas</th>
            <th>Kiekis</th>
            <th>Kaina</th>
            <th>Suma</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let cart of carts">
            <td>{{cart.product.title}}</td>
            <td></td>
            <td>
              <div class="quantity">
<!--                <button class="btn minus1" (click)="substract(cart.id)">-</button>-->
                <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="{{ cart.quantity }}" type="number">
<!--                <button class="btn add1" (click)="add()">+</button>-->
              </div>
            </td>
            <td>{{cart.product.price}}</td>
            <td>{{cart.product.price * cart.quantity}}</td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td>Viso suma:</td>
          </tr>
          </tfoot>
        </table>
        <div class='card-footer'>
          <button class='btn btn-outline-secondary'
                  style='width:180px'
                  (click)='onBack()'>
            <i class='fa fa-chevron-left'></i> Tęsti apsipirkimą
          </button>
        </div>
      </div>
    </div>
  </div>
<!--</ng-container>-->

<!--<ng-template #none>-->
<!--  <div>There is no products in the cart</div>-->
<!--</ng-template>-->




<!--<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
&lt;!&ndash;        <input type="text"&ndash;&gt;
&lt;!&ndash;               [(ngModel)]="listFilter"/>&ndash;&gt;
&lt;!&ndash;      </div>&ndash;&gt;
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table"> &lt;!&ndash;*ngIf="products.length"&ndash;&gt;
        <thead>
        <tr>
          <th>
&lt;!&ndash;            <button class="btn btn-secondary btn-sm"
                    (click)="toggleImage()">
              {{showImage ? 'Paslėpti' : 'Rodyti'}} paveikslėli
            </button>&ndash;&gt;
          </th>
          <th>Pavadinimas</th>
          <th>Kaina</th>
          <th>Kiekis</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="carts">
          <td *ngFor="let cart of carts">
            <p class="name">{{ cart.quantity}}</p>
            <p class="country">{{ cart.quantity }}</p>
            <a href="{{ cart.quantity }}" class="site">site</a>
          </td>
        </tr>
&lt;!&ndash;        <tbody *ngFor="let product of filteredProducts">
        <td>
        </td>
        <td>
          <a [routerLink]="['/products', product.id]">
            {{product.title}}
          </a>
        </td>
        <td>{{product.id}}</td>
        <td>{{product.price | currency: 'EUR' }}</td>
        <td>{{product.type}}</td>
        </tbody>&ndash;&gt;
        </tbody>

        <tfoot>
        <tr>
          <td>Viso:</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>

    </div>

  </div>
</div>-->
