
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filtered by:</div>
      <div class="col-md-4">
        <input type="text"
                [(ngModel)]="listFilter"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products.length">
        <thead>
        <tr>
          <th>
            <button class="btn btn-secondary btn-sm"
              (click)="toggleImage()">
              {{showImage ? 'Hide' : 'Show'}} picture
            </button>
          </th>
          <th>Title</th>
          <th>ID</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let product of filteredProducts | paginate: {itemsPerPage: 10, currentPage: p}">
        <td>
          <img *ngIf='showImage'
               [attr.src]='product.imageUrl'
               [title]='product.title'
               [style.width.px]='120'
               [style.margin.px]='3'>
        </td>
          <td>
            <a [routerLink]="['/products', product.id]">
            {{product.title}}
            </a>
          </td>
          <td>{{product.id}}</td>
          <td>{{product.price | currency: 'EUR' }}</td>
          <td></td>
          <td>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button class="btn btn-primary btn-sm rounded-0"
                        type="button"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add one product to cart" (click)="addToCartProduct(product)"><i class="fa fa-table"></i></button>
              </li>
              <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-0"
                        type="button"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Delete one product from cart" (click)="onDelete(product.id)"><i class="fa fa-trash"></i></button>
              </li>
            </ul>
          </td>
        </tbody>
      </table>

    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
