<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter By:</div>
      <div class="col-md-4">
        <input type="text"
                [(ngModel)]="listFilter"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="products.length">
        <thead>
        <tr>
          <th>
            <button class="btn btn-secondary btn-sm"
              (click)="toggleImage()">
              {{showImage ? 'Show' : 'Hide'}} Image
            </button>
          </th>
          <th>Name</th>
          <th>ID</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let product of filteredProducts">
          <td>
          </td>
          <td>
            <a [routerLink]="['/products', product.id]">
            {{product.title}}
            </a>
          </td>
          <td>{{product.id}}</td>
          <td>{{product.price | currency: 'EUR' }}</td>
          <td>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button class="btn btn-primary btn-sm rounded-0"
                        type="button"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Add one product to cart" (click)="addToCartProduct(product)"><i class="fa fa-table"></i></button>
              </li>
              <li class="list-inline-item">
                <button class="btn btn-danger btn-sm rounded-0"
                        type="button"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Delete one product from cart" (click)="onDelete(product.id)"><i class="fa fa-trash"></i></button>
              </li>
            </ul>
          </td>
        </tbody>
      </table>
    </div>

  </div>
</div>
