<ng-container *ngIf="order; else loading">
  <div class='card'>
    <div class='card-header'>
      {{pageTitle + ': ' + order.id}}<!--ideti uzsakymo nr-->
    </div>

    <div class='card-body'>

      <form [formGroup]="orderForm">
        <fieldset>

          <div class='col-md-4'>
            <label> <strong>Order date: </strong></label>
            <label *ngIf="isNewOrder"><input type="date" formControlName="orderDate"></label>
            <label *ngIf="!isNewOrder">{{order.orderDate}}</label>
          </div>

          <div class='col-md-4'>
            <label><strong>User name: </strong></label>
            <label *ngIf="isNewOrder"><input formControlName="userName" placeholder="Enter name"></label>
            <label *ngIf="!isNewOrder">{{order.userName}}</label>
          </div>

          <div class='col-md-4'>
            <label><strong>User surname: </strong></label>
            <label *ngIf="isNewOrder"><input formControlName="userSurname" placeholder="Enter surname"></label>
            <label *ngIf="!isNewOrder">{{order.userSurname}}</label>
          </div>

          <div class='col-md-4'>
            <label><strong>Delivery address: </strong></label>
            <label *ngIf="isNewOrder"><input formControlName="deliveryAddress" placeholder="Enter delivery address"></label>
            <label *ngIf="!isNewOrder">{{order.deliveryAddress}}</label>
          </div>

        </fieldset>
        <button class='btn btn-outline-secondary'
                style='width:80px'
                (click)='onNext()'>
          <i class='fa fa-chevron-left'></i> Next
        </button>
      </form>

    </div>

  </div>

</ng-container>

<ng-template #loading>
  <h1>Loading...</h1>
</ng-template>

<app-order-lines *ngIf="order" [order]="order"></app-order-lines>
